<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Mongo Scraper</a>
  <div class="navbar" id="navbarText">
        <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
  </div>
</nav>
<img src="/images/newspaper.jpeg" class="img-fluid" alt="Responsive Newspaper Image" width="100%">
<div class="container">
  <div id="wrapper">
    <div id="welcome">
      <h4>Welcome to Mongo Scraper!</h4>
      <text>When the 
        <a class="btn btn-small btn-danger scrape-new">
          SCRAPE NEW ARTICLES!</a> button is clicked, the newest articles from NPR are scraped from their website. The articles are then displayed for you to comment on. If you click on an article summary, a text area will appear on the screen for taking notes. </text>
    </div>
    <div id="articles"></div>
    <div id="notes"></div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>